@media screen and (min-width: 960px) {
    .header {
        display: flex;
        align-items: center;
    }

    .my-trends .tool {
        width: 50px;
    }

    .my-trends .info {
    }
}

@media screen and (max-width: 960px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .my-trends {
        flex-direction: row-reverse;
    }

        .my-trends .tool {
            width: 50px;
        }

        .my-trends .info {
        }
}

.music-count {
    font-size: 12px;
    opacity: 0.5;
}

.tool {
    opacity: 0.4;
}
