/.vs/MangaReader/FileContentIndex/*.vsidx
/.vs/MangaReader/v17/*.suo
/MangaReader.UI/bin/*
/MangaReader.UI/obj/*
/MangaReader/bin/*
/MangaReader/obj/*
/MangaReader.Shared/bin/*
/MangaReader.Shared/obj/*
