<nav class="navbar">
    <div class="navbar-item">
        <NavLink class="navbar-link" href="home" Match="NavLinkMatch.All">
            <span class="navicon fas fa-headphones" aria-hidden="true"></span> Home
        </NavLink>
    </div>
    <div class="navbar-item">
        <NavLink class="navbar-link" href="playlist" Match="NavLinkMatch.All">
            <span class="navicon fas fa-list" aria-hidden="true"></span> Category
        </NavLink>
    </div>
    <div class="navbar-item">
        <NavLink class="navbar-link" href="my-popular">
            <span class="navicon fas fa-heart" aria-hidden="true"></span> Favorite
        </NavLink>
    </div>
    <div class="navbar-item">
        <NavLink class="navbar-link" href="settings">
            <span class="navicon fas fa-user" aria-hidden="true"></span> History
        </NavLink>
    </div>
</nav>